# Apenas nomes e marcadores. Configure segredos somente na hospedagem.
PORT=3000
FIREBASE_PROJECT_ID=SEU_PROJETO
FIREBASE_DATABASE_URL=https://SEU_PROJETO-default-rtdb.firebaseio.com
FIREBASE_CLIENT_EMAIL=CONTA_DE_SERVICO
FIREBASE_PRIVATE_KEY=CONFIGURAR_APENAS_NA_HOSPEDAGEM
CLOUDINARY_CLOUD_NAME=SEU_CLOUD
CLOUDINARY_API_KEY=CONFIGURAR_APENAS_NA_HOSPEDAGEM
CLOUDINARY_API_SECRET=CONFIGURAR_APENAS_NA_HOSPEDAGEM
